.container {
  display: flex;
  background-color: teal;
  @media(max-width: 468px) {
    flex-direction: column;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .logo {
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
      color: #fff;
      
    }

    .description {
        margin: 20px 0px;
    }

    .socialContainer {
        display: flex;

      .socialIcon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        margin-right: 20px;
      }
    }
  }
  h3 {
    margin-bottom: 30px;
}

  .center {
    flex: 1;
    padding: 20px;
    @media(max-width: 468px) {
      display: none;
    }
  



    .list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;


        .listItem{
            width: 50%;
            margin-bottom: 10px ;
            cursor: pointer;

            &:hover {
              color: #fff;
            }
            
        }
    }
  }

  .right {
    flex: 1;
    padding: 20px;

    .contactItem {
        margin-bottom: 20px; 
        display: flex;
        align-items: center;
    }

    img {
        width: 60%;
    }
  }
}
